<article class="m-match-item">
  <img src="{{ picture.medium }}" />
  <div class="meta">
    <h1 class="user heading-4">
      <span class="name">{{ name.first }}</span>
      <span class="dot">&bull;</span>
      <p class="age">{{ dob.age }}</p>
    </h1>
    <p class="message">Hey, how are you?</p>
  </div>
  <a href="/chat" class="chat-button">
    <svg
      alt="Chat icon"
      width="21"
      height="19"
      viewBox="0 0 21 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M20.5 9.5C20.5 14.3325 16.0225 18.25 10.5 18.25C8.72506 18.2575 6.97444 17.8373 5.39625 17.025L0.5 18.25L2.1725 14.3462C1.11625 12.9587 0.5 11.2925 0.5 9.5C0.5 4.6675 4.9775 0.75 10.5 0.75C16.0225 0.75 20.5 4.6675 20.5 9.5ZM6.75 8.25H4.25V10.75H6.75V8.25ZM16.75 8.25H14.25V10.75H16.75V8.25ZM9.25 8.25H11.75V10.75H9.25V8.25Z"
        fill="white"
      />
    </svg>
  </a>
</article>
