<!DOCTYPE html>
<html lang="en">
  <%- include('partials/base/head', { title: 'Modern Dating' }) -%>
  <body>
    <%- include('partials/header') -%>
    <main>
      <h1>Welcome to Miiiiiit.</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, impedit
        nostrum deserunt perspiciatis, eos, ipsa id saepe magnam atque quo dicta
        asperiores corrupti maxime iusto reprehenderit dolorum voluptatibus
        magni! Dolore.
      </p>
    </main>
  </body>
</html>
