.chat-form {
	@extend .container-lg;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: var(--gray-200);

	input,
	button {
		font-size: 1rem;
		appearance: none;
		background: var(--white);
		border: 1px solid var(--gray-300);
		padding: 8px 12px;
		border-radius: 8px;
	}

	input {
		flex-grow: 1;
		margin-right: 16px;

		--size: 42px;
		// width: var(--height);
		height: var(--size);
	}

	button {
		--size: 32px;
		width: var(--size);
		height: var(--size);
		background: var(--mint-300);
		color: var(--white);
		border-radius: 100px;
		position: relative;

		svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

header {
	display: flex;
	align-items: center;

	justify-content: center;

	span.status-indicator {
		margin-left: 8px;
		margin-top: 2px;
		width: 6px;
		height: 6px;
		background: var(--gray-500);
		border-radius: 100px;

		&.active {
			background: rgb(53, 238, 53);
		}
	}
}
