@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html {
    --font: 'Inter var';
  }
}

:root {
  --font: 'Inter';
}



header,
main,
footer {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li:not(:last-child) {
  margin-right: 2em;
}
