<div class="chat-page">
	<header class="container-lg">
		<a class="back-button" href="/matches">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M11.2481 19.6484C11.0231 19.8734 10.7179 19.9998 10.3997 19.9998C10.0815 19.9998 9.77638 19.8734 9.55134 19.6484L2.35134 12.4484C2.12638 12.2234 2 11.9182 2 11.6C2 11.2818 2.12638 10.9766 2.35134 10.7516L9.55134 3.55161C9.77767 3.33302 10.0808 3.21206 10.3954 3.2148C10.7101 3.21753 11.011 3.34373 11.2335 3.56622C11.456 3.78871 11.5822 4.08969 11.585 4.40432C11.5877 4.71896 11.4667 5.02208 11.2481 5.24841L6.09654 10.4H19.9997C20.318 10.4 20.6232 10.5264 20.8483 10.7515C21.0733 10.9765 21.1997 11.2817 21.1997 11.6C21.1997 11.9183 21.0733 12.2235 20.8483 12.4485C20.6232 12.6736 20.318 12.8 19.9997 12.8H6.09654L11.2481 17.9516C11.4731 18.1766 11.5995 18.4818 11.5995 18.8C11.5995 19.1182 11.4731 19.4234 11.2481 19.6484Z" fill="currentColor" />
			</svg>
		</a>
		<div class="name">
			<h2 class="heading-4">{{user.firstName}} {{user.lastName}}</h2>
			<span class="status-indicator active">
		</div>
		</span>
		<a class="profile" href="/profile">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M21.1998 11.6C21.1998 14.1461 20.1883 16.5879 18.388 18.3882C16.5876 20.1886 14.1458 21.2 11.5998 21.2C9.05368 21.2 6.61188 20.1886 4.81153 18.3882C3.01118 16.5879 1.99976 14.1461 1.99976 11.6C1.99976 9.05392 3.01118 6.61212 4.81153 4.81177C6.61188 3.01143 9.05368 2 11.5998 2C14.1458 2 16.5876 3.01143 18.388 4.81177C20.1883 6.61212 21.1998 9.05392 21.1998 11.6ZM13.9998 8C13.9998 8.63652 13.7469 9.24697 13.2968 9.69706C12.8467 10.1471 12.2363 10.4 11.5998 10.4C10.9632 10.4 10.3528 10.1471 9.9027 9.69706C9.45261 9.24697 9.19976 8.63652 9.19976 8C9.19976 7.36348 9.45261 6.75303 9.9027 6.30294C10.3528 5.85286 10.9632 5.6 11.5998 5.6C12.2363 5.6 12.8467 5.85286 13.2968 6.30294C13.7469 6.75303 13.9998 7.36348 13.9998 8ZM11.5998 12.8C10.4509 12.7998 9.32609 13.1294 8.35905 13.7497C7.39202 14.37 6.62341 15.2549 6.14456 16.2992C6.81977 17.0847 7.65688 17.7149 8.59849 18.1466C9.5401 18.5782 10.5639 18.8011 11.5998 18.8C12.6356 18.8011 13.6594 18.5782 14.601 18.1466C15.5426 17.7149 16.3797 17.0847 17.055 16.2992C16.5761 15.2549 15.8075 14.37 14.8405 13.7497C13.8734 13.1294 12.7486 12.7998 11.5998 12.8Z" fill="currentColor" />
			</svg>
		</a>
	</header>
	<main class="chat-view">
		{{> 'components/organisms/chat-window/chat-window'}}
		<form action="/" method="POST" class="chat-form">
			{{!-- <label for="message"> Your message </label> --}}
			<br>
			<input type="text" name="message" id="message" placeholder="Type your message...">
			<button type="submit" aria-label="Send message">
				<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0.293031 7.707C0.105559 7.51947 0.000244141 7.26516 0.000244141 7C0.000244141 6.73484 0.105559 6.48053 0.293031 6.293L6.29303 0.293C6.48056 0.105529 6.73487 0.000213623 7.00003 0.000213623C7.26519 0.000213623 7.5195 0.105529 7.70703 0.293L13.707 6.293C13.8892 6.4816 13.99 6.7342 13.9877 6.9964C13.9854 7.2586 13.8803 7.50941 13.6948 7.69482C13.5094 7.88023 13.2586 7.9854 12.9964 7.98767C12.7342 7.98995 12.4816 7.88916 12.293 7.707L8.00003 3.414V15C8.00003 15.2652 7.89467 15.5196 7.70714 15.7071C7.5196 15.8946 7.26525 16 7.00003 16C6.73481 16 6.48046 15.8946 6.29292 15.7071C6.10539 15.5196 6.00003 15.2652 6.00003 15V3.414L1.70703 7.707C1.5195 7.89447 1.26519 7.99979 1.00003 7.99979C0.734866 7.99979 0.480558 7.89447 0.293031 7.707Z" fill="currentColor" />
				</svg>
			</button>
		</form>
	</main>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>
