<main class="container-lg">
	<h1>Welcome to Miit.</h1>
	<form action="/sign-in" method="POST">
		<select name="username" id="username">
			<option value="brianbawuah">Brian</option>
			<option value="joannlap">Jo-Ann</option>
			<option value="didiercatz">Didier</option>
		</select>
		<button type="submit">Log in</button>
	</form>
</main>
<footer class="container-lg">
	<p>&copy; Didier Catz — 2020</p>
</footer>
