<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head") %>

  <body>
    <%- include ("./partials/navigation") %>

    <main class="container-lg">
      <%- include ('./partials/match', { users }) %>
		</main>

		<footer class="breadcrumb">
			<p>&copy; Didier Catz</p>
		</footer>
  </body>
</html>
