<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Miit — {{title}}</title>
  {{!-- <link rel="shortcut icon" href="./assets/favicon-32.png" /> --}}
  {{!-- <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-touch-icon.png" /> --}}
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  {{!-- <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png" /> --}}
  {{!-- <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png" /> --}}
  {{!-- <meta name="msapplication-config" content="./assets/browserconfig.xml" /> --}}
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#ffffff" />
  {{!-- <link rel="manifest" href="assets/site.webmanifest" /> --}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css" />
</head>
