<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= locals.title %></title>
  <% if (locals.title) { %>
  <title><%= locals.title %></title>
  <% } else { %>
  <title>Dating App</title>
  <% } %>

  <link rel="stylesheet" href="/css/style.css" />
</head>
