<header class="global-navigation container-lg">
	<nav>
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/matches">my matches</a></li>
			<li><a href="/profile">my profile</a></li>
			<li><a href="/logout">log out</a></li>
		</ul>
	</nav>
</header>
