@charset "UTF-8";
@import url("https://rsms.me/inter/inter.css");
:root {
  --font: "Inter";
  --mint-100: #b2f5ea;
  --mint-200: #81e6d9;
  --mint-300: #4fd1c5;
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
  --black: var(--gray-900);
  --white: white;
  --in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);
  --in: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  --out: cubic-bezier(0.08, 0.82, 0.17, 1);
  --t-100: 100ms;
  --t-200: 200ms;
  --t-300: 300ms;
  --t-400: 400ms;
  --t-500: 500ms;
}

@supports (font-variation-settings: normal) {
  html {
    --font: "Inter var";
  }
}
h1 {
  font-weight: 600;
  font-size: 68px;
  line-height: 1.25em;
  letter-spacing: -0.035em;
}
@media screen and (max-width: 768px) {
  h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 1.25em;
    letter-spacing: -0.055em;
  }
}

h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.25em;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 768px) {
  h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.25em;
    letter-spacing: -0.055em;
  }
}

h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.25em;
  letter-spacing: -0.055em;
}
@media screen and (max-width: 768px) {
  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25em;
    letter-spacing: -0.035em;
  }
}

h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.25em;
  letter-spacing: -0.055em;
}
h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25em;
  letter-spacing: -0.035em;
}
p {
  max-width: 66ch;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.container, .container-lg, .chat-form {
  margin: 0 auto;
  padding: 0 24px;
}
@media screen and (max-width: 768px) {
  .container, .container-lg, .chat-form {
    padding: 0 16px;
  }
}
.container-lg, .chat-form {
  max-width: 1280px;
}

nav.a-nav ul {
  list-style: none;
  display: flex;
}
nav.a-nav ul li:not(:last-child) {
  margin-right: 2em;
}

.m-header {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.m-match-item {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  margin: 1rem 0;
  box-shadow: 0 6px 36px #C9D2DC;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
}
.m-match-item img {
  --size: 60px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  width: var(--size);
  height: var(--size);
}
.m-match-item .chat-button {
  --size: 3rem;
  appearance: none;
  border-radius: 100px;
  font-size: 0;
  background: var(--mint-300);
  border: 0;
  width: var(--size);
  height: var(--size);
  justify-self: end;
}

.chat-window {
  background: var(--gray-100);
  flex-direction: column;
  display: flex;
  padding-top: 32px;
  padding-bottom: 16px;
}
.chat-window .chat-message {
  margin: 2px 0;
  transition: all var(--t-300) var(--in-out);
  transition-delay: 1s;
  transform-origin: top left;
  transform: scale(0);
  opacity: 0;
}
.chat-window .chat-message p {
  border-radius: 8px;
  padding: 8px 12px;
  max-width: 40ch;
}
.chat-window .chat-message.receive {
  align-self: start;
}
.chat-window .chat-message.receive p {
  background: var(--mint-300);
  color: var(--white);
  border-top-left-radius: 0;
}
.chat-window .chat-message.send {
  align-self: end;
  transform-origin: top right;
}
.chat-window .chat-message.send p {
  border-top-right-radius: 0;
  background-color: var(--white);
}
.chat-window .chat-message.type-indicator {
  align-self: start;
  transition: all var(--t-300) var(--in-out);
  opacity: 0;
  order: 1;
  transform: scale(0);
  transform-origin: top left;
}
.chat-window .chat-message.type-indicator p {
  background: var(--gray-400);
  color: var(--white);
  border-top-left-radius: 0;
}
.chat-window .chat-message.type-indicator p::after {
  content: "•••";
}
.chat-window .chat-message.active {
  opacity: 1;
  transform: scale(100%);
}

.chat-form {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: var(--gray-200);
}
.chat-form input,
.chat-form button {
  font-size: 1rem;
  appearance: none;
  background: var(--white);
  border: 1px solid var(--gray-300);
  padding: 8px 12px;
  border-radius: 8px;
}
.chat-form input {
  flex-grow: 1;
  margin-right: 16px;
  --size: 42px;
  height: var(--size);
}
.chat-form button {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background: var(--mint-300);
  color: var(--white);
  border-radius: 100px;
  position: relative;
}
.chat-form button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header span.status-indicator {
  margin-left: 8px;
  margin-top: 2px;
  width: 6px;
  height: 6px;
  background: var(--gray-500);
  border-radius: 100px;
}
header span.status-indicator.active {
  background: #35ee35;
}

.o-match-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
