.chat-window {
	background: var(--gray-100);
	flex-direction: column;
	display: flex;
	padding-top: 32px;
	padding-bottom: 16px;

	.chat-message {
		margin: 2px 0;
		transition: all var(--t-300) var(--in-out);
		transition-delay: 1s;
		transform-origin: top left;
		transform: scale(0);
		opacity: 0;

		p {
			border-radius: 8px;
			padding: 8px 12px;
			max-width: 40ch;
		}

		&.receive {
			align-self: start;

			p {
				background: var(--mint-300);
				color: var(--white);
				border-top-left-radius: 0;
			}
		}

		&.send {
			align-self: end;
			transform-origin: top right;

			p {
				border-top-right-radius: 0;
				background-color: var(--white);
			}
		}

		&.type-indicator {
			align-self: start;
			transition: all var(--t-300) var(--in-out);
			opacity: 0;
			order: 1;
			transform: scale(0);
			transform-origin: top left;

			p {
				background: var(--gray-400);
				color: var(--white);
				border-top-left-radius: 0;

				&::after {
					content: '•••';
				}
			}
		}

		&.active {
			opacity: 1;
			transform: scale(100%);
		}
	}
}
