<div class="chat-window container-lg">
	<div class="chat-message type-indicator">
		<p></p>
	</div>
	<div class="chat-message send active">
		<p>Hey!</p>
	</div>
	<div class="chat-message receive active">
		<p>Hey there!</p>
	</div>
	<div class="chat-message receive active">
		<p>What's up?</p>
	</div>
</div>
