<!DOCTYPE html>
<html lang="en">
{{> 'includes/head' title='Home'}}

<body>
	{{> 'components/molecules/header/header' }}
	<main class="container-lg">
		{{{body}}} </main>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		const socket = io();
	</script>
</body>

</html>
