.container {
	margin: 0 auto;
	padding: 0 24px;

	@media screen and (max-width: $bp-tablet-md) {
		padding: 0 16px;
	}

	&-lg {
		@extend .container;
		max-width: $bp-desktop-md;
	}
}

body {
	display: flex;
	flex-direction: column;

	main {
		flex-grow: 1;
	}
}
