.container {
	margin: 0 auto;
	padding: 0 24px;

	@media screen and (max-width: $bp-tablet-md) {
		padding: 0 16px;
	}

	&-lg {
		@extend .container;
		max-width: $bp-desktop-md;
	}
}

body {
	overflow-y: hidden;

	& > [class*='page'] {
		// overflow-y: hidden;
		// height: 100vh;
		// grid-auto-flow: row;
		display: grid;
		grid-template-rows: auto 1fr;
	}
}
