:root {
	--font: 'Inter';

	// Main colors
	--mint-100: #b2f5ea;
	--mint-200: #81e6d9;
	--mint-300: #4fd1c5;

	// Grays
	--gray-100: #f7fafc;
	--gray-200: #edf2f7;
	--gray-300: #e2e8f0;
	--gray-400: #cbd5e0;
	--gray-500: #a0aec0;
	--gray-600: #718096;
	--gray-700: #4a5568;
	--gray-800: #2d3748;
	--gray-900: #1a202c;

	// Overrides
	--black: var(--gray-900);
	--white: white;

	// Animation
	--in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);
	--in: cubic-bezier(0.6, 0.04, 0.98, 0.34);
	--out: cubic-bezier(0.08, 0.82, 0.17, 1);

	// Transitions
	--t-100: 100ms;
	--t-200: 200ms;
	--t-300: 300ms;
	--t-400: 400ms;
	--t-500: 500ms;
}

$bp-mobile-sm: 320px;
$bp-mobile-md: 375px;
$bp-mobile-lg: 414px;
$bp-tablet-sm: 562px;
$bp-tablet-md: 768px;
$bp-desktop-sm: 1120px;
$bp-desktop-md: 1280px;
$bp-desktop-lg: 1538px;
